body{
    background:#f8f9fa;
    font-family:Inter,Segoe UI,sans-serif;
}
#root {
    width: auto;
}
a{
    text-decoration:none;
}

.property-content h2 {
    font-weight:700;
}

.property-card{
    border:none;
    border-radius:12px;
    transition:.3s;
}

.property-card:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 25px rgba(0,0,0,.12);
}

.property-card img{
    height:220px;
    object-fit:cover;
}

.btn-primary{
    border-radius:8px;
}